<button class="logout" (click)="logout()">cerrar sesion</button>
<div class="container py-4">
  <div *ngIf="mensaje" class="alert alert-success text-center" style="position:fixed;top:20px;left:50%;transform:translateX(-50%);z-index:999;max-width:300px;">
    {{ mensaje }}
  </div>
  <h1 class="text-center mb-4">Nuestros Videojuegos</h1>
  <div class="row justify-content-center">
    <div *ngFor="let juego of videojuegos" class="col-md-4 mb-4 d-flex">
      <div class="card h-100 shadow-sm w-100">
        <img [src]="juego.imagen" class="card-img-top" width="100" [alt]="juego.titulo" style="object-fit:cover; height:200px;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center">{{juego.titulo}}</h5>
          <p class="card-text">{{juego.descripcion}}</p>
          <p><strong>Plataforma:</strong> {{juego.plataforma.join(', ')}}</p>
          <p><strong>Género:</strong> {{juego.genero.join(', ')}}</p>
          <p><strong>Precio:</strong> {{juego.precio | currency}}</p>
          <div class="d-flex align-items-center justify-content-center mb-2">
            <button class="btn btn-cantidad me-2" (click)="cambiarCantidad(juego, -1)">−</button>
            <span class="mx-2 cantidad-num">{{juego.cantidad}}</span>
            <button class="btn btn-cantidad ms-2" (click)="cambiarCantidad(juego, 1)">+</button>
          </div>
          <button class="btn btn-success mt-auto" (click)="agregarAlCarrito(juego)">
            Agregar al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
